.root {
    -fx-font-family: "Segoe UI";
}


/* === Typography === */

.h1 {
    -fx-font-size: 24px;
    -fx-font-family: "Segoe UI Semibold";
}
.h2 {
    -fx-font-size: 16px;
    -fx-font-family: "Segoe UI Semibold";
}
.h3 {
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI Semibold";
}

.description {
    -fx-fill: gray;
    -fx-font-size: 12px;
    -fx-wrap-text: true;
}

.danger {
    -fx-fill: red;
}

/* === Containers === */
.main-container {
    -fx-spacing: 20;
    -fx-padding: 20;
}

.section-container {
    -fx-border-color: lightgray;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-padding: 15;
    -fx-spacing: 10;
}

.scroll-pane {
    -fx-fit-to-width: true;
    -fx-hbar-policy: never;
}

/* === Buttons === */
.primary-button {
    -fx-background-color: #155dfd;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Segoe UI Semibold";

}

.save-button {
 -fx-background-color: green;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Segoe UI Semibold";}
}

.primary-button:hover {
    -fx-background-color: #193db7;
}

.delete-button {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Segoe UI Semibold";
}


.checkbox {
}




/*
=============================================
                DESIGNER TAB
=============================================
*/
.canvas {
    -fx-background-color: #d5d5d5
}

.entity-header {
    -fx-background-color: darkblue;
    -fx-border-color: darkblue;
    -fx-font-weight: bold;
    -fx-border-width: 1 1 0 1;
}
.entity-title {
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-padding: 5;
}
.entity-properties{
    -fx-background-color: white;
    -fx-border-color: darkblue;
    -fx-border-width: 0 1 1 1;
    -fx-padding: 5;
}

.h3.selected {
    -fx-text-fill: red;
    -fx-font-weight: bold;
}

.relationship-line{
    -fx-stroke: black;
    -fx-stroke-width: 2;
}

.relationship-label{
   -fx-text-fill: white;
   -fx-background-color: black;
   -fx-background-radius: 8;
   -fx-padding: 2 8 2 8;
}

.selected-entity {
    -fx-border-color: red;
    -fx-border-width: 4;
    -fx-font-weight: bold;
}

.selected-relationship {
    -fx-text-fill: red;
    -fx-font-weight: bold;
}

.selected-relationship > .relationship-line {
    -fx-stroke: red;
    -fx-stroke-width: 4;
}


